<div class="container" ng-controller="carDetailController" ng-if="!error">
    <p ng-if="error" class="alert alert-danger">{{error}}</p>

  <div
    class="container"
    ng-controller="carDetailController"
    ng-if="selectedCar"
  >
   <div style="text-align: left;">
  <button class="btn btn-default" ng-click="goBack()">← Geri</button>
   
</div>
    <div class="row first" style="margin-top: 30px">
      <div class="col-sm-6">
        <img
          ng-src="{{selectedCar.img}}"
          alt="Araç Görseli"
          style="
            width: 100%;
            max-width: 600px;
            height: 350px;
            margin-top: 0%;
            border-radius: 8px;
            /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); */
          "
        />
      </div>
      <div
        class="col-sm-6"
        style="display: flex; align-items: center; justify-content: center"
      >
        
        <div ng-clock ng-controller="rentController as ctrl" layout-padding>
          <h4>Alış Tarihi</h4>
          <md-datepicker
            ng-model="ctrl.startDate"
            md-placeholder="Tarih seç"
          ></md-datepicker>

          <h4 class="mt-3">Bırakış Tarihi</h4>
          <md-datepicker
            ng-model="ctrl.endDate"
            md-placeholder="Tarih seç"
          ></md-datepicker>

          <p 
            ng-if="ctrl.getDayCount() > 0"
            style="font-size: 18px; font-weight: bold; margin-top:20px" 
          >
            Toplam Fiyat: {{selectedCar.price * ctrl.getDayCount() |
            currency:'₺'}}
          </p>

          <br /><br />
          <md-button class="md-raised md-primary" ng-click="ctrl.rentCar()"
            >Kirala</md-button
          >
        </div>
        <div
          style="
            position: absolute;
        top: 0;
        right: 0;
        font-size: 20px;
        font-weight: bold;
        background: white;
        padding: 15px 20px;
        border-radius: 8px;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        text-align: right;
        z-index: 2;
          "
        >
          {{selectedCar.price | currency: '₺'}}
        </div>
      </div>
    </div>

    
    <div class="row" style="margin-top: 30px">
      <div class="col-sm-6">
        
        <div class="row">
          <div class="col-xs-6">
            <p style="font-size: 18px">
              <strong>{{selectedCar.brand}}</strong>
            </p>
          </div>
          <div class="col-xs-6">
            <p style="font-size: 18px">{{selectedCar.model}}</p>
          </div>
        </div>

        
        <div class="row">
          <div class="col-xs-6">
            <p>{{selectedCar.category}}</p>
          </div>
          <div class="col-xs-6">
            <p>{{selectedCar.year}}</p>
          </div>
        </div>

        
        <div class="row" style="margin-top: 15px">
          <div class="col-sm-4">
            <div class="well text-center">
              <p>{{selectedCar.color}}</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well text-center">
              <p>{{selectedCar.transmission}}</p>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="well text-center">
              <p>{{selectedCar.location}}</p>
            </div>
          </div>
        </div>

       
        <div class="row" style="margin-top: 20px">
          <div class="col-sm-12">
            <div class="well">
              <p><strong>Açıklama:</strong></p>
              <p>{{selectedCar.description}}</p>
            </div>
          </div>
        </div>

        
      </div>
    </div>
  </div>
</body>
